:root {
    --primary: #1e8cbe;
    --light: #f8f9fa;
}
.customize-control {
    margin-botoom: 20px;
}
.customize-control-title {
    letter-spacing: 1px;
    color: var(--primary);
    margin: 0 -15px 10px;
    text-transform: uppercase;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px 15px;
    background-color: #fff;
}